node_modules
.expo
dist
build
.DS_Store
*.log
.env
coverage
**/android/app/build/
**/android/.gradle/
**/android/build/
**/android/local.properties
**/android/*.iml
**/android/gradle/
data/db/
tools/mongodb/
ios
.idea
.vscode
